[submodule "Transit"]
	path = Transit
	url = https://github.com/futurewei-cloud/Transit.git
	ignore = untracked
[submodule "Alcor"]
	path = Alcor
	url = https://github.com/futurewei-cloud/Alcor.git
    ignore = untracked
